@import "https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700";
body {
    font-family: 'Comfortaa', sans-serif;
    background: #fff;
}

p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
  
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #000;
    transition: all 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #000;
    /*padding: 10px;*/
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid #ebebeb;
}

#sidebar ul li a:hover {
    color: #000;
    font-weight: 405;
    background: #f2f2f1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
    background: rgba(0,0,0,0.16);
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


#sidebarCollapse {
    width: 35px;
    height: 35px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
.alinharIconPainel{
    display: flex;
    align-items: center;
    justify-content: center;
}

